<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>note list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="/css/navigation_bar.css"
	th:href="@{/css/navigation_bar.css}" />
<script src="/js/jquery.min.js" th:href="@{/js/jquery.min.js}"></script>
</head>
<body style="background-color: lightgray;">

	<div class="container p-3 my-3 border bg-white">
		<nav class="navbar navbar-expand-sm bg-light navbar-light">
			<ul class="navbar-nav">
				<li class="nav-item"><a href="/newnote" class="btn btn-link">New
						note</a></li>
				<li class="nav-item"><a href="/categorylist"
					class="btn btn-link">Manage Category</a></li>
				<li class="nav-item" sec:authorize="hasAuthority('ADMIN')"><a
					href="/userlist" class="btn btn-link">Manage Users</a></li>


				<li class="nav-item">
					<form th:action="@{/logout}" method="post" align="left">
						<input type="submit" value="Sign Out" class="btn btn-link" />
					</form>
				</li>
			</ul>
		</nav>
		<div class="jumbotron text-white "
			style="background-image: url('image/Book-banner.jpg'); opacity: 0.9;">
			<h1 style="color: white; text-shadow: 4px 4px 8px #000000;">Note4life</h1>
			<p th:inline="text">welcome
				[[${#httpServletRequest.remoteUser}]]!</p>
		</div>

		<div class="form-group"></div>

		<table class="table table-striped">
			<tr>
				<th>Title</th>
				<th>date</th>
				<th>Category</th>
				<th>Modify</th>
			</tr>
			<tr th:each="note : ${notes}">
				<td><a th:href="@{/updatenote/{id}(id=${note.note_id})}"
					class="btn btn-link"><span th:text="${note.title}"></span></a></td>
				<td th:text="${note.date}"></td>
				<td th:text="${note.category.name}"></td>
				<td><a th:href="@{/deletenote/{id}(id=${note.note_id})}"
					class="btn btn-danger">Delete</a></td>
			</tr>
		</table>
	</div>
</body>
</html>